---
layout: default
---

<div class="home">

    <h1 class="post-title">The Cell Migration Standardisation Organisation</h1>

    <p>
    The <a href="https://cellmigstandorg.github.io/">Cell Migration Standardisation Organisation (CMSO)</a> is a young organization that has a specific goal: to facilitate the development of community standards for the field of <b>cell migration</b>.
    </p>

    <p>
    As such, the CMSO is based on voluntary efforts from the community, and is
    open for anyone interested to contribute towards the creation and maintenance
    of the standards.
    </p>

    <p>
    If you are interested in the people behind the CMSO, you can find these
    [here]({{ site.baseurl }}/roles-and-responsibilities).
    </p>

    <p>
    If you are interested in the work performed by the CMSO, have a look at the
    working groups that are listed <a href="{{ site.baseurl }}/groups">here</a>.
    </p>

    <p>
    If you want to get involved in the CMSO, have a look <a href="{{ site.baseurl }}/how-to-get-involved/">here</a>. A great place to
    start, is to attend one of the free workshops organized by the CMSO!
    </p>

    <p>
    The CMSO is supported by the <a href="http://multimot.org/">MULTIMOT</a> project of the
    <a href="http://cordis.europa.eu/project/rcn/193270_en.html">European Commission’s H2020 programme</a>.
    </p>


    <div class="table" style="width:100%">
        <div class="row" align="center">
            <div class="column">
                <img src="{{ site.baseurl }}/images/logoh2020.png" alt="H2020" width="222" height="96" >
            </div>

            <div class="column">
                <img src="{{ site.baseurl }}/images/multimot-logo.png" alt="MultiMot" width="222" height="96">
            </div>
        </div>
    </div>


</div>
