---
layout: default
---

<p>
    This is a widget with the CMSO collection of standards from FAIRsharing. For more information about it, please read <a href="{{ site.baseurl }}/announcement/2018/06/18/fairsharing-widget.html">this news item.</a>.
</p>


<div id=main>
    <div id='widget'></div>
</div>
<script src="https://fairsharing.org/static/dist/lib/FAIRsharingServices.js" ></script>
<script>
    var widget = FAIRsharingServices.widgets.collectionWidget.new({
        host: 'https://fairsharing.org',
        apiKey: '697927bfca262819ced2eb65d194ecc7696ebe75',
        id: 'bsg-c000022',
        selector: '#widget',
        tableStyle: {
        },
        graphStyle: {
        }
    });
    widget.render();
</script>
